{% extends 'meetups/base/base.html' %}

{% load static %}

{% block site_css%}
<link rel="stylesheet" href="{% static 'meetups/styles/registration-confirmation.css'%}">
<link rel="stylesheet" href="{% static 'meetups/styles/meetup_details.css'%}">
<link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
{% endblock %}


{% block body %}

<h2 id="main-header">
    Add Employee
</h2>

<section id="registration">
    <form accept="" method="POST">
        
        {% csrf_token %}
        {{ form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit" class="btn">Add Employee</button>
    </form>
</section>

{% endblock %}
